<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app" @click="oclick()">
        <p>{{ message }}</p>
        <input v-model="message">
        <p v-if="seen">Now you see me</p>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
        <div v-if="seen">t</div>
        <div v-else>f</div>
        <img v-bind:src="img" />
        <div v-bind:style="styles">style</div>
        <button v-on:click="oclick()">点击</button>
        <button @click="oclick()">点击</button>
        <div @click.stop="show($event)">点我</div>
        <div @click.prevent="show($event)">点我</div>
        <div @click.felf="show($event)">点我</div>
        <div @click.capture="show($event)">点我</div>
        <div @keydown.stop="get($even)">回车</div>
        <div @keyup.enter.stop="get($even)">啦啦啦~</div>
    </div>



    <script>
        new Vue({
            el: '#app',
            data: {
                todos: [{
                        text: 'Learn JavaScript'
                    },
                    {
                        text: 'Learn Vue'
                    },
                    {
                        text: 'Build something awesome'
                    }
                ],
                img: "https://www.imooc.com/static/img/index/logo.png",
                styles: {
                    color: 'red',
                    fontSize: '30px'
                },
                message: 'Hello Vue!',
                seen: true
            },
            methods: {
                oclick: function () {
                    alert(1);
                },
                show:function(event){
                    alert(event.clientX);
                    console.log(event.clientX);
                    console.log(event);
                },
                get:function(event){
                    alert('down');
                }   
            }
        })
    </script>
</body>

</html>